.App {
  text-align: center;
}

.container {
  border: 5px solid rgb(46, 57, 110);
  margin: 25px auto;
  height: 600px;
  width: 500px;
}

.spacer {
  border: 1px dotted green;
  text-align: center;
  height: 200px;
  margin: 5px auto;
  width: 90%;
}

.form {
  border: 2px solid blue;
  height: 300px;
  width: 300px;
  margin: 25px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}