.content {
    position: absolute;
    top: 65%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: max-content; */
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #ccc;
    border-radius: 11px;
}

.calendar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.month{
    margin:6px;
}
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

 p {
    color: black;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    margin: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.days{
    font-size: 14px;
    word-spacing: 12px;
    /* margin-left: -4px; */
}